<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.qdu.smartclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_def"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_def"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.StuClassMainActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaClassMainActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveOneActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveThreeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveTwoActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.ChangeInfoActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.SetActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.CreateClassActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.StuMemberSigninActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaMemberSigninActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaMemberSigniningActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaInformDetailActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.StuInformDetailActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.CreateInformActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.JoinClassActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.PrepareClassActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.CropActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ShowInviteCodeActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ShowSignInResultActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ShowExpDetailActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.InformReadActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.InformUnReadActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ConfirmJoinClassActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaPublishHomeworkActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.ModifyClassActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.StuCommitHomeworkActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.ShowPhotoActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaShowUnderwayHomeworkListActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaShowUnderwayHomeworkActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaShowEvaluatedHomeworkListActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaEvaluateHomworkActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.StuShowHomeworkActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaShowFinishedHomeworkListActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.TeaShowFinishedHomeworkActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ShowMemberDetailActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:launchMode="singleTop"></activity>

        <receiver
            android:name=".adapter.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="team.qdu.smartclass" />
            </intent-filter>
        </receiver>

    </application>

</manifest>