<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.qdu.smartclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.StuClassMainActivity"></activity>
        <activity android:name=".activity.TeaClassMainActivity"></activity>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.RetrieveOneActivity"></activity>
        <activity android:name=".activity.RetrieveThreeActivity"></activity>
        <activity android:name=".activity.RetrieveTwoActivity"></activity>
        <activity android:name=".activity.ChangeInfoActivity"></activity>
        <activity android:name=".activity.SetActivity"></activity>
        <activity
            android:name=".activity.CreateClassActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.SigninActivity"></activity>
        <activity android:name=".activity.TeaInformDetailActivity"></activity>
        <activity android:name=".activity.StuInformDetailActivity"></activity>
        <activity android:name=".activity.CreateInformActivity"></activity>
        <activity android:name=".activity.JoinClassActivity"></activity>
        <activity android:name=".activity.PrepareClassActivity"></activity>
        <activity android:name=".activity.CropActivity"></activity>
        <activity android:name=".activity.ShowInviteCodeActivity"></activity>
        <activity android:name=".activity.InformReadActivity"></activity>
        <activity android:name=".activity.InformUnReadActivity"></activity>
        <activity android:name=".activity.ConfirmJoinClassActivity"></activity>
        <activity android:name=".activity.PublishHomeworkActivity"></activity>
        <activity android:name=".activity.ModifyClassActivity"></activity>
        <activity
            android:name=".activity.DoHomeworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.ShowPhotoActivity"></activity>
        <activity android:name=".activity.CheckHomworkCommitStatusActivity"></activity>
        <activity android:name=".activity.ShowUnderwayHomeworkDetailActivity"></activity>
        <activity android:name=".activity.ShowEvaluateHomeworkActivity"></activity>
        <activity
            android:name=".activity.EvaluateHomworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.ShowMyHomeworkActivity"></activity>
        <activity android:name=".activity.ShowFinishHomeworkActivity"></activity>
        <activity android:name=".activity.ShowFinishHomeworkDetialActivity"></activity>
    </application>

</manifest>