<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.qdu.smartclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_def"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_def"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.StuClassMainActivity"></activity>
        <activity android:name=".activity.TeaClassMainActivity"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveOneActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveThreeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.RetrieveTwoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.ChangeInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.SetActivity"></activity>
        <activity
            android:name=".activity.CreateClassActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.StuMemberSigninActivity"></activity>
        <activity android:name=".activity.TeaMemberSigninActivity"></activity>
        <activity android:name=".activity.TeaMemberSigniningActivity"></activity>
        <activity android:name=".activity.TeaInformDetailActivity"></activity>
        <activity android:name=".activity.StuInformDetailActivity"></activity>
        <activity
            android:name=".activity.CreateInformActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.JoinClassActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".activity.PrepareClassActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.CropActivity"></activity>
        <activity android:name=".activity.ShowInviteCodeActivity"></activity>
        <activity android:name=".activity.ShowSignInResultActivity"></activity>
        <activity android:name=".activity.ShowExpDetailActivity"></activity>
        <activity android:name=".activity.InformReadActivity"></activity>
        <activity android:name=".activity.InformUnReadActivity"></activity>
        <activity android:name=".activity.ConfirmJoinClassActivity"></activity>
        <activity
            android:name=".activity.TeaPublishHomeworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.ModifyClassActivity"></activity>
        <activity
            android:name=".activity.StuCommitHomeworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.ShowPhotoActivity"></activity>
        <activity android:name=".activity.TeaShowUnderwayHomeworkListActivity"></activity>
        <activity android:name=".activity.TeaShowUnderwayHomeworkActivity"></activity>
        <activity android:name=".activity.TeaShowEvaluatedHomeworkListActivity"></activity>
        <activity
            android:name=".activity.TeaEvaluateHomworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity android:name=".activity.StuShowHomeworkActivity"></activity>
        <activity android:name=".activity.TeaShowFinishedHomeworkListActivity"></activity>
        <activity android:name=".activity.TeaShowFinishedHomeworkActivity"></activity>
        <activity android:name=".activity.ShowMemberDetailActivity"></activity>
        <activity android:name=".activity.LoadingActivity"></activity>

        <receiver
            android:name=".adapter.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="team.qdu.smartclass" />
            </intent-filter>
        </receiver>
    </application>


</manifest>